*.pdb
Nav/bin/*
Nav/obj/*
Nav.D3/*
Nav.PoE/*
NavMeshViewer/.vs/*
NavMeshViewer/bin/*
NavMeshViewer/obj/*
NavMeshViewer/*.dll
NavMeshViewer/Plugins/updateSettings.json
NavMeshViewer/config/settings.json
NavMeshViewer/NavMeshViewer.exe
NavMeshViewer/NavMeshViewer.csproj.user
NavMeshViewer/NavMeshViewer.exe.config
NavMeshViewer/NavMeshViewer.csproj.user
